.toast {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 40%;
    top: 80%;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem 0 rgb(0, 0, 0), 0 1.5rem 3rem 0 rgb(0, 0, 0);
}

.toast>p {
    color: white;
}

.display {
    display: none;
}