.controlPanelContainer {
  width: 90%;
  display: flex;
  justify-content: center;
  margin-inline: auto;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info>p {
  padding: 1rem 4rem;
  background-color: #fa00ff;
  border-radius: 0.7rem;
}

.infoDivider {
  height: 2rem;
  width: 1rem;
  background-color: #fa00ff;
}

.optionsDropdown {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem 3rem;
  background-color: #fa00ff;
  border-radius: 0.7rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.optionsDropdown>p {
  font-size: 1rem;
}