.controlPanelContainer {
  width: 90%;

  display: flex;
  justify-content: space-around;

  margin-inline: auto;
  border-radius: 0.4rem;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info>p {
  padding: 1rem 4rem;
}

.optionsDropdown {
  display: flex;
  flex-direction: row;

  gap: 1rem;

  padding: 1rem 4rem;

  border: none;
  outline: none;

  cursor: pointer;
}

.optionsDropdown>p {
  font-size: 1rem;
}