@import '../../Main styles/root.scss';
@import '../../Main styles/mixins.scss';

.itemInputWrapper {
	@include subWrapperItem;
}

// .itemInputWrapperMobile {
// 	z-index: 4;

// 	width: 100%;

// 	border-radius: 7px;
// 	border: 2px solid #3f3f3f;
// 	overflow: hidden;

// 	display: flex;
// 	position: fixed;

// 	top: 10rem;
// }

// .itemInputWrapperMobile > input,
.itemInputWrapper > input {
	background: transparent;
	display: block;
	border: none;
	outline: none;

	flex-grow: 1;

	color: white;

	padding: 1rem;
}

.send,
.clear,
.set_favorite {
	@include button;
}
