@import '../../Main styles/root.scss';
@import '../../Main styles/mixins.scss';

@include desktop {
	.itemInputWrapper {
		@include subWrapperItem;
	}

	.itemInputWrapper > input {
		background: transparent;
		display: block;
		border: none;
		outline: none;

		flex-grow: 1;

		color: white;

		padding: var(--gap-3);
	}

	.send,
	.clear,
	.set_favorite {
		@include button;
	}
}

@include mobile {
	.itemInputWrapper {
		background: black;
		display: flex;
		border: none;
		outline: none;
		width: 100%;
		height: fit-content;

		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
		z-index: 5;
	}

	.itemInputWrapper > input {
		background: transparent;
		border: none;
		outline: none;

		flex-grow: 1;

		color: white;

		padding: var(--gap-3);
	}

	.send,
	.clear,
	.set_favorite {
		@include button;
	}
}
