@import '../../../Main styles/root.scss';

.controlPanelContainer {
	width: 90%;

	display: flex;
	justify-content: center;

	margin-inline: auto;
	border-radius: var(--border-radius);
}

.info {
	display: flex;
	width: fit-content;
	justify-content: space-around;
	align-items: center;

	> div {
		> p {
			padding: 1rem 3rem;
		}
	}
}
