@import '../../../Main styles/root.scss';

.profilesContainer {
	display: flex;
	flex-direction: column;
	margin: 0;
	border-radius: 0.4rem;
	padding: 1rem;
	width: fit-content;
	margin-inline: auto;

	.defaultProfiles > button,
	.customProfiles > button {
		padding: 1rem;
		display: flex;
		margin-inline: auto;
		align-items: center;
		outline: none;
		border: none;
		gap: 1rem;
		cursor: var(--input-cursor);
	}

	.customProfiles,
	.defaultProfiles {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.profile {
		display: flex;
		align-items: center;
		gap: 1rem;
		padding: 0.5rem 0;

		.buttonContainer {
			display: flex;
			flex-direction: column;
			gap: 0.4rem;

			> button {
				outline: none;
				border: none;
				padding: 0.5rem;
				border-radius: 0.4rem;
				cursor: var(--input-cursor);
			}
		}

		> button {
			outline: none;
			border: none;
			padding: 0.5rem;
			border-radius: 0.4rem;
			cursor: var(--input-cursor);
		}
	}
}

.display {
	display: none;
}

.divider {
	width: 70%;
	height: 1px;
	margin-inline: auto;
}
