@import './root.scss';

body {
	margin: 0;
	width: 100%;
	height: 100vh;
	height: 100dvh;
	background-color: black;
}

.wrapper {
	z-index: 1;
	max-width: 70rem;

	margin-inline: auto;

	padding-top: 7%;
}

.blurSheet {
	z-index: -9;
	position: fixed;

	inset: 0;

	background: rgba(0, 0, 0, 0.7);
	// backdrop-filter: blur(70px);
}

.colorSheet {
	z-index: -10;
	position: fixed;

	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
}

.main {
	z-index: 2;

	display: flex;
	> section {
		padding: 0.5rem;
		width: 100%;
		display: flex;
		flex-direction: column;
		// background-color: transparent;
		// border: 0.25rem solid var(--m-c);
		background-color: var(--m-c);
		border-radius: 0 2rem 2rem 0;

		gap: 0.5rem;
	}
}
