@import './root.scss';

body {
	margin: 0;
	width: 100%;
	height: 100vh;
	height: 100dvh;
	background-color: black;
}

.wrapper {
	z-index: 1;
	max-width: 70rem;

	margin-inline: auto;
}

.blurSheet {
	z-index: -9;
	position: fixed;

	inset: 0;

	background: rgba(0, 0, 0, 0.7);
	backdrop-filter: blur(240px);
}

.colorSheet {
	z-index: -10;
	position: fixed;

	bottom: 0;
	left: 0;
	right: 0;
	top: 75%;

	background: radial-gradient(16.87% 66.86% at 54.69% 85.38%,
		#00d1ff 0%,
		#00d1ff 43.96%,
		#000000 100%),
	radial-gradient(102.37% 59.14% at 78.61% 108.2%,
		#00d1ff 0%,
		#00d1ff96 29.69%,
		#00000000 100%),
	radial-gradient(54.02% 32.14% at 27.26% 56.83%,
		#00d1ff 0%,
		#00d1ff95 87.19%,
		#00000000 100%),
}

.main {
	z-index: 2;
	padding: var(--main-padding);
	width: 100%;
	display: grid;

	gap: 1rem;
}
