@import './root.scss';

@mixin subWrapperItem {
	width: 100%;

	border-radius: var(--gap-3);
	// border: var(--gap-1) solid var(--main-color);
	overflow: hidden;

	background-color: black;

	display: flex;
}

@mixin button {
	cursor: pointer;
	border: none;
	outline: none;
	background: transparent;
	padding: var(--gap-2);
	height: fit-content;
	width: fit-content;
}
