:root {
	--border-radius: 0.4rem;
	--input-border: none;
	--input-outline: none;
	--input-cursor: pointer;
	--main-padding: min(5%, 5rem);
}

.dividerMain {
	height: 2px;
	width: 100%;
	background-color: #00d1ff;
}

.dividerVertical {
	width: 2px;
	height: 100%;
	background-color: #3f3f3f;
}

.dividerHorizontal {
	height: 2px;
	width: 100%;
	background-color: #3f3f3f;
}
