.itemInputWrapper {
  width: 90%;
  margin-inline: auto;

  border-radius: 7px;
  border: 2px solid #fa00ff;
  overflow: hidden;

  display: flex;
}

.itemInputWrapper>input {
  background: transparent;
  display: block;
  border: none;

  flex-grow: 1;

  color: white;

  padding: 1rem;
}

.send {
  height: 100%;
  border: none;

  aspect-ratio: 1;
  background-color: #fa00ff;

  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;

  cursor: pointer;
}

.clear,
.set_favorite {
  background-color: #fa00ff;
  border: none;
  cursor: pointer;

  padding: 0.5rem;

  /* aspect-ratio: 1; */
  height: 100%;
}

.divider {
  height: 100%;
  width: 1px;
  background: linear-gradient(180deg,
      #000 0%,
      rgba(0, 0, 0, 0) 0.01%,
      rgba(0, 0, 0, 0.61) 20.83%,
      #000 52.08%,
      rgba(0, 0, 0, 0.59) 86.46%,
      rgba(0, 0, 0, 0) 100%);
}