.container {
  display: grid;
  gap: 0.5rem;

  width: 90%;
  margin-inline: auto;
  height: 35rem;
  overflow: auto;
}

.itemContainer {
  display: flex;

  width: 100%;

  border-radius: 7px;
  border: 2px solid #fa00ff;
  overflow: hidden;
}

.itemContent {
  color: white;
  flex-grow: 1;
  overflow-wrap: anywhere;

  padding: 1rem;
}

.itemContentChecked {
  color: white;
  flex-grow: 1;
  overflow-wrap: anywhere;

  padding: 1rem;

  background: linear-gradient(90deg,
      rgba(250, 0, 255, 0)60%,
      rgba(250, 0, 255, 0.5) 85%,
      rgba(250, 0, 255, 1) 100%);
}

.controls {
  background: #fa00ff;

  display: flex;
}

.divider {
  height: 100%;
  width: 1px;
  background: linear-gradient(180deg,
      #000 0%,
      rgba(0, 0, 0, 0) 0.01%,
      rgba(0, 0, 0, 0.61) 20.83%,
      #000 52.08%,
      rgba(0, 0, 0, 0.59) 86.46%,
      rgba(0, 0, 0, 0) 100%);
}

.deleteBtn,
.checkBtn,
.favoriteBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;

  padding: 0.5rem;

  /* aspect-ratio: 1; */
  height: 100%;
}