@import '../../Main styles/root.scss';
@import '../../Main styles/mixins.scss';

.info {
	display: flex;
	width: 100%;
	justify-content: space-around;
	align-items: center;

	background: transparent;

	padding: var(--gap-2);
	> div {
		background-color: black;
		border-radius: var(--gap-3);
		> p {
			padding: var(--gap-2) var(--gap-3);
			color: #ffffff;
		}
	}
}
