@import '../../Main styles/root.scss';
@import '../../Main styles/mixins.scss';

.controlPanelContainer {
	@include subWrapperItem;

	background-color: black;
}

.info {
	display: flex;
	width: 100%;
	justify-content: space-around;
	align-items: center;

	background: transparent;

	> div {
		> p {
			padding: 1rem 1.5rem;
			color: #ffffff;
		}
	}
}
