.divider {
  height: 100%;
  width: 1px;
  /* background: linear-gradient(180deg,
      #000 0%,
      rgba(0, 0, 0, 0) 0.01%,
      rgba(0, 0, 0, 0.61) 20.83%,
      #000 52.08%,
      rgba(0, 0, 0, 0.59) 86.46%,
      rgba(0, 0, 0, 0) 100%); */
}

.deleteBtn,
.checkBtn,
.favoriteBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;

  padding: 0.5rem;

  /* aspect-ratio: 1; */
  height: 100%;
}