@import '../../../../Main styles/root.scss';

.deleteBtn,
.checkBtn,
.favoriteBtn {
	background-color: transparent;
	border: none;
	cursor: pointer;

	padding: 0.5rem;

	/* aspect-ratio: 1; */
	height: 100%;
}
