@import '../../Main\ styles/mixins.scss';

.container {
	@include subWrapperItem;

	padding: var(--gap-2);
	flex-direction: column;
	gap: var(--gap-3);

	.placeholder {
		background: linear-gradient(
			90deg,
			rgba(0, 208, 255, 0.838) 0%,
			rgba(0, 208, 255, 0.332) 60%,
			rgba(0, 0, 0, 0) 80%
		);

		padding: 1.8rem;

		border: none;
	}
}

.itemContainer,
.placeholder {
	display: flex;

	width: 100%;

	border-radius: var(--gap-2);
	border: var(--gap-1) solid var(--main-color);

	overflow: hidden;
}

.itemContent,
.itemContentChecked {
	flex-grow: 1;
	overflow-wrap: anywhere;

	padding: var(--gap-3);

	color: #ffffff;
}

.itemContent {
	background: #000000;
}

.itemContentChecked {
	background: linear-gradient(
		90deg,
		#000000 50%,
		var(--secondary-color) 70%,
		var(--main-color) 100%
	);
}

.controls {
	display: flex;

	background-color: black;
}
