@import '../../Main\ styles/mixins.scss';

.container {
	@include subWrapperItem;

	padding: 0.5rem;
	flex-direction: column;
	gap: 1rem;
}

.itemContainer {
	display: flex;

	width: 100%;

	border-radius: 1rem;
	border: 0.25rem solid #00d1ff;

	overflow: hidden;
}

.itemContent,
.itemContentChecked {
	flex-grow: 1;
	overflow-wrap: anywhere;

	padding: 1rem;

	color: #ffffff;
}

.itemContent {
	background: #000000;
}

.itemContentChecked {
	background: linear-gradient(90deg, #000000 50%, #00d1ff50 70%, #00d1ff 100%);
}

.controls {
	display: flex;

	background-color: black;
}
