.container {
  display: grid;
  gap: 0.5rem;

  width: 90%;
  margin-inline: auto;
}

.itemContainer {
  display: flex;

  width: 100%;

  border-radius: 0.4rem;

  overflow: hidden;
}

.itemContent {
  flex-grow: 1;
  overflow-wrap: anywhere;

  padding: 1rem;
}

.itemContentChecked {
  flex-grow: 1;
  overflow-wrap: anywhere;

  padding: 1rem;

  background: linear-gradient(90deg,
      rgba(250, 0, 255, 0)60%,
      rgba(250, 0, 255, 0.5) 85%,
      rgba(250, 0, 255, 1) 100%);
}

.controls {
  display: flex;
}