.settingsContainer {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 0.4rem;
  width: 90%;
  margin-inline: auto;
  gap: 0.5rem;
}

.inputContainer {
  display: flex;
  align-items: center;
  gap: 2px;
}

.settingsInput {
  width: 6rem;
  outline: none;
  border: none;
  padding: 0.4rem;
}

.settingsInput:focus {
  outline: none;
  border: none;
}

.colorDisplay {
  width: 2rem;
  height: 2rem;
  border: 2px solid black;
  border-radius: 2px;
}

.saveBtn {
  padding: 0.7rem;
  border-radius: 0.4rem;
  outline: none;
  border: none;

  cursor: pointer;
}

.display {
  display: none;
}